<section class="station-search-results">
  <h1>Query Stations:</h1>

  <section class="total-stations">
    <h3>Total Stations <%= @facade.all_stations.count %></h3>
    <% @facade.all_stations.each do |station| %>
      
